[Unit]
Description=monitor and control system power state
Wants=powerbackend.service sensorfwd.service
After=powerbackend.service sensorfwd.service

[Service]
Type=dbus
BusName=com.jingos.powerd
Environment="LD_LIBRARY_PATH=/opt/libhybris/lib/aarch64-linux-gnu/:/opt/libhybris/lib/aarch64-linux-gnu/libhybris/:/opt/libhybris/lib/aarch64-linux-gnu/libhybris/linker:/opt/libhybris/lib/aarch64-linux-gnu/libhybris-egl:$LD_LIBRARY_PATH"
Environment="REPOWERD_LOG=null"
ExecStart=/usr/sbin/repowerd
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/kill -HUP $MAINPID
StartLimitIntervalSec=0
StartLimitBurst=0
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
